# Seed Sprouter

In [125]:
import datetime
import pathlib
import pandas as pd
from IPython.display import display
import ipywidgets as widgets
sprout_names = ['Alfalfa',
                'Red Clover']
actions = ['harvest','plant','prep','watering']
sprout_dropdown = widgets.Dropdown(options=sprout_names)
actions_dropdown = widgets.Dropdown(options=actions)
amount = widgets.IntSlider()
save_action = widgets.Button(description='Update')
seed_sprouter_file = "../js/seed-sprouter.json"

In [131]:
def action(type_of: str,
           sprout: str=None,
           amount: float=0, 
           time_stamp: datetime.datetime=None) -> dict:
    if time_stamp is None:
        time_stamp = datetime.datetime.utcnow()
    if not type_of in actions:
        raise ValueError(f"{type_of.title()} not a valid action")
    if not sprout or not sprout in sprout_names:
        raise ValueError(f"{type_of.title()} action requires valid sprout. {sprout}")
    record = {'taken': time_stamp, 
              'type': type_of, 
              'sprout': sprout, 
              'amount': amount}
    
    if not type_of.startswith("watering"):
        record['scale'] = 'gram'
    if type_of.startswith('plant') or type_of.startswith('prep'):
        if amount < 1:
            raise ValueError(f"{type_of.title()} action requires amount")
    return record

def save(b):
    sprout = pd.read_json(seed_sprouter_file)
    sprout = sprout.append(action(actions_dropdown.value, 
                              sprout_dropdown.value, 
                              amount.value), 
                       ignore_index=True)
    sprout.to_json(seed_sprouter_file)   
    return sprout

save_action.on_click(save)

In [134]:
display(actions_dropdown, sprout_dropdown, amount, save_action)

Dropdown(index=3, options=('harvest', 'plant', 'prep', 'watering'), value='watering')

Dropdown(index=1, options=('Alfalfa', 'Red Clover'), value='Red Clover')

IntSlider(value=0)

Button(description='Update', style=ButtonStyle())

In [133]:
sprout

   amount      sprout          taken      type scale
0      21  Red Clover  1609020559696      prep  gram
1      10     Alfalfa  1609020592204      prep  gram
2      21  Red Clover  1609120793862     plant  gram
3      11     Alfalfa  1609120821865     plant  gram
4       0     Alfalfa  1609216342459  watering  gram
5       0  Red Clover  1609216348939  watering  gram

In [137]:
sprout = pd.read_json(seed_sprouter_file)

In [138]:
sprout

    amount      sprout          taken      type scale
0       21  Red Clover  1609020559696      prep  gram
1       10     Alfalfa  1609020592204      prep  gram
2       21  Red Clover  1609120793862     plant  gram
3       11     Alfalfa  1609120821865     plant  gram
4        0     Alfalfa  1609216342459  watering  gram
5        0  Red Clover  1609216348939  watering  gram
6        0     Alfalfa  1609279141552  watering  None
7        0     Alfalfa  1609279141829  watering  None
8        0  Red Clover  1609279163691  watering  None
9        0  Red Clover  1609279163717  watering  None
10       0     Alfalfa  1609440017048  watering  None
11       0     Alfalfa  1609440017280  watering  None
12       0  Red Clover  1609440022981  watering  None
13       0  Red Clover  1609440023019  watering  None

In [121]:
sprout = sprout.append(action(actions_dropdown.value, 
                              sprout_dropdown.value, 
                              amount.value), 
                       ignore_index=True)

In [122]:
sprout

   amount      sprout                       taken      type scale
0      21  Red Clover               1609020559696      prep  gram
1      10     Alfalfa               1609020592204      prep  gram
2      21  Red Clover               1609120793862     plant  gram
3      11     Alfalfa               1609120821865     plant  gram
4       0     Alfalfa  2020-12-29 04:32:22.459657  watering  gram
5       0  Red Clover  2020-12-29 04:32:28.939065  watering  gram